html, body {
  background-color: #0F0F0F;
  margin: 0rem;
  overflow-x: hidden;
}

.app {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: inline-block;
}


@font-face {
  font-family: spacemono;
  src: url(./font/SpaceMono-Regular.ttf);
}

.content {
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

content > * {
  position: relative;
  width: 100%;
}

.header {
  font: 3em "Outfit", sans-serif;
  font-weight: 800;
}

.main-statement {
  font: 1.5em "Outfit", sans-serif;
  line-height: 2em;
  text-align: center;
  margin: 0 .5em;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.socials a {
  color: white;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  font-size: 2em;
  transition: all 0.5s ease;
}

.social-icon:hover {
  font-size: 10em;
}

.projects-container {
  position: relative;
  width: 100%;
  display: flex; /* Use flexbox */
  justify-content: flex-start; /* Align items horizontally in the center */
  align-items: center; /* Align items vertically in the center */
  overflow: hidden; /* Hide overflowing content */
  flex-grow: 1; /* Allow the container to grow to fill available space */
}

.drag-statement {
  font: 1.5em "Roboto", sans-serif;
  line-height: 2em;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

