.image-track {
  display: flex;
  gap: 2em;
  padding: 0 1em;
  user-select: none;
  -webkit-user-select: none;
}

.bookend {
  width: 1.35em;
  font: 1.5em "Outfit", sans-serif;
  text-align: center;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  border: 1px solid white;
  border-radius: 1em;
}